<a href="https://colab.research.google.com/github/LATHA-MURUGESAN/Category-as-Apriori-algorithm/blob/main/Category_data_as_apriori_algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.preprocessing import TransactionEncoder

In [2]:
# sample transaction data
transactions = [['apple', 'beer', 'rice'],
                ['apple', 'beer', 'banana'],
                ['apple', 'beer'],
                ['apple', 'banana'],
                ['banana', 'rice']]

In [4]:
# transforming the transaction data to a binary matrix format
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   apple  banana   beer   rice
0   True   False   True   True
1   True    True   True  False
2   True   False   True  False
3   True    True  False  False
4  False    True  False   True

In [7]:
# finding frequent itemsets using the apriori algorithm
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)

In [8]:


# printing the frequent itemsets
print(frequent_itemsets)

    support               itemsets
0       0.8                (apple)
1       0.6               (banana)
2       0.6                 (beer)
3       0.4                 (rice)
4       0.4        (apple, banana)
5       0.6          (apple, beer)
6       0.2          (apple, rice)
7       0.2         (beer, banana)
8       0.2         (rice, banana)
9       0.2           (rice, beer)
10      0.2  (apple, beer, banana)
11      0.2    (apple, rice, beer)